/**********************************************************************************/
{{printf "/*** %-10s %-63s ***/" "Author:" .Author}}
{{printf "/*** %-10s %-63s ***/" "Date:" .LongDate}}
{{printf "/*** %-10s %-s - %-57s ***/" "Problem:" .ProblemNumber .ProblemTitle}}
{{printf "/*** %-10s %-62s ***/" "Difficulty:" .Difficulty}}
{{printf "/*** %-10s %-61s ***/" "Description:" .Description}}
/**********************************************************************************/
#include <iostream>
#include <map>
#include <vector>
#include <string>
#include <cstdio>
#include <cstdint>

using namespace std;

class Solution {
public:
    string sample(string s) {
        return "";
    }
};


int main(){
    Solution s;


    printf("Hello World: %s", s.sample(""));

    return 0;
}