#include <iostream>
#include <map>
#include <vector>
#include <string>
#include <cstdio>
#include <cstdint>

using namespace std;

class Solution {
public:
    string sample(string s) {
        return "";
    }
};


int main(){
    Solution s;


    printf("Hello World: %s", s.sample(""));

    return 0;
}